<form action="/prehistoric_creatures" method="POST">
    <label for="creatureName">Name</label>
    <input type="text" id="creatureName" name="type">

    <label for="dinosaurType">thingy</label>
    <input type="text" id="creatureType" name="img_url">

    <input type="submit" value="Add a Creature">
</form>